
.container {
    text-align: left;
    font-family: 'Roboto Slab';
    font-weight: 400;
    padding: 40px;
    /* padding-top: 20vw; */
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.container__blocks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1em;
}

.block {
    display: block;
}

.logo {
    display: block;
    margin: 0 auto 18px auto;
    max-width: 200px;
    height: auto;
}


h1 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 100%;
    white-space: nowrap;
    padding-top: 1em;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 100%;
    white-space: nowrap;
    padding-top: 1em;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

small {
    font-size: 80%;
}

p, .p {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 20px;
}

a {
    color: black;
}

a:hover {
    font-style: italic;
}

.video-top {
    margin-bottom: 2em;
}

.video-top video, .video-top img {
    width: 100%;
    height: auto;
}

.timeplace {
    margin: 1em auto;
    line-height: 30px;
    font-size: larger;
    background: #eee;
    padding: 1em;
    box-sizing: border-box;
    max-width: 400px;
    width: 90%;
    small {
        font-size: x-small;
    }
}

.followus {
    font-size: larger;
    line-height: 1.5em;
    p {
        font-size: larger;
        line-height: 1.5em;
    }
    margin-bottom: 2em;
    ul {
        list-style: square;
        padding-left: 2em;
    }
}

@media only screen and (max-width: 800px) {
    .container__blocks {
        display: flex;
        flex-flow: column wrap;
    }
    .container {
        padding: 10px;
    }
    h1 {
        font-size: 5.3vw;
        white-space: wrap;
    }
    h2 {
        font-size: 4.5vw;
    }
    h3 {
        font-size: 3.5vw;
    }
}

p.last {
    margin-bottom: 3em;
    text-align: justify;
}

.morelink {
    font-size: larger;
}

/* Footnote */

.quote-block {
    margin: 2em 0;
    padding-left: 1.5em;
    border-left: 3px solid #0056b3;
    font-family: Georgia, serif;
    color: #333;
}

.quote-text {
    display: block;
    font-style: italic;
    font-size: 1.25em;
    line-height: 1.5;
    margin-bottom: 0.5em;
}

.attribution {
    display: block;
    text-align: right;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9em;
    padding-right: 1.5em;
}

.inline-note-trigger {
    position: relative;

    vertical-align: super;
    font-size: 0.7em;
    cursor: help;

    outline-offset: 2px;
}

.note-text {
    display: none;

    position: absolute;
    top: 1em;
    right: 0;

    width: 10em;
    padding: 8px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.3;
    z-index: 100;
}

.inline-note-trigger:hover .note-text,
.inline-note-trigger:focus .note-text {
    display: block;
}
