
.container {
    text-align: left;
    font-family: 'Roboto Slab';
    font-weight: 400;
    padding: 40px;
    /* padding-top: 20vw; */
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.container__blocks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1em;
}

.block {
    display: block;
}


h1 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 100%;
    white-space: nowrap;
    padding-top: 1em;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 100%;
    white-space: nowrap;
    padding-top: 1em;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

small {
    font-size: 80%;
}

p, .p {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 20px;
}

a {
    color: black;
}

a:hover {
    font-style: italic;
}

.video-top {
    margin-bottom: 2em;
}

.video-top video, .video-top img {
    width: 100%;
    height: auto;
}

.timeplace {
    margin: 1em auto;
    line-height: 30px;
    font-size: larger;
    background: #eee;
    padding: 1em;
    box-sizing: border-box;
    max-width: 400px;
    width: 90%;
    small {
        font-size: x-small;
    }
}

.followus {
    font-size: larger;
    line-height: 1.5em;
    p {
        font-size: larger;
        line-height: 1.5em;
    }
    margin-bottom: 2em;
    ul {
        list-style: square;
        padding-left: 2em;
    }
}

@media only screen and (max-width: 800px) {
    .container__blocks {
        display: flex;
        flex-flow: column wrap;
    }
    .container {
        padding: 10px;
    }
    h1 {
        font-size: 5.3vw;
        white-space: wrap;
    }
    h2 {
        font-size: 4.5vw;
    }
    h3 {
        font-size: 3.5vw;
    }
}

p.last {
    margin-bottom: 3em;
    text-align: justify;
}

.morelink {
    font-size: larger;
}